<div class="row">
  <div class="col-xl-12 col-xs-12">
    <div class="row">
      <div class="col-xl-12">
        <app-recipie-search></app-recipie-search>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xs-12">
    <hr/>
  </div>
  <div class="col-md-12 col-xs-12">
    <div class="row">
      <div class="col-md-5 col-xs-12">
        <app-recipie-list></app-recipie-list>
      </div>
      <div class="col-md-7 col-xs-12 ">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
