<div class="row">
  <div class="col-xl-12 col-xs-12">
    <div class="row">
      <form class="col-xl-12 col-xs-12">
        <div class="form-row">
          <div class="col-sm-10 col-xs-12">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="nameFilter" placeholder="Recipe name" [ngModelOptions]="{standalone: true}" aria-describedby="search">
              <span class="input-group-append" aria-describedby="clear">
                <button id="search" type="submit" class="btn btn-primary btn-block" (click)="search()">Search</button>
              </span>
              <span class="input-group-append">
                <button id="clear" type="reset" class="btn btn-warning btn-block">clear</button>
              </span>
            </div>
          </div>
          <div class="col-sm-2 col-xs-6">
            <a class='btn btn-success btn-block' routerLink=new >New Recipe</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12 col-xs-12">
    <hr/>
  </div>
  <div class="col-md-12 col-xs-12">
    <div class="row">
      <div class="col-md-5 col-xs-12">
        <app-recipie-list></app-recipie-list>
      </div>
      <div class="col-md-7 col-xs-12 ">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
