

  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/favicon.ico"  width="30" height="30" class="d-inline-block align-top" alt="">
      Home Utils
    </a>



    <ul class="navbar-nav">
      <li routerLinkActive="active" *ngIf="!userAuthenticated"><a routerLink="/auth">Authenticate</a></li>
      <li routerLinkActive="active" ><a routerLink="/recipies">Recipies</a></li>
      <li routerLinkActive="active" *ngIf="userAuthenticated"><a routerLink="/shopping-list">Shopping List</a></li>
      <li routerLinkActive="active" *ngIf="userAuthenticated"><a style="cursor: pointer;" role="button" (click)="logout()">Logout</a></li>
    </ul>




  </nav>
