<div class="row">

  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <div class="alert alert-danger" *ngIf="error!=null">
      <h4>An error ocurred</h4>
      <p>Description: {{error}}</p>
    </div>

    <div class="col-xl-12" *ngIf="isLoading" >
      <app-loading-spinner></app-loading-spinner>
    </div>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      *ngIf="!isLoading">

        <div class="form-group">
          <label for="InputEmail">Password</label>
          <input type="email" class="form-control" id="InputEmail" placeholder="E-mail" formControlName=email>
        </div>

        <div class="form-group">
          <label for="InpurPassword">Password</label>
          <input type="password" class="form-control" id="InpurPassword" placeholder="Password" formControlName=password>
        </div>
        <hr/>
        <div class="form-group text-center">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!loginForm.valid"
            >{{loginAction?'Log in!':'Sing in!'}}</button> |
          <button
            type="button"
            class="btn btn-success"
            (click)="switchForm()"
            >{{!loginAction?'Switch to login':'Switch to register'}}</button>
        </div>
    </form>
  </div>
</div>
