<div class="col-xs-12">
  <div *ngIf="!mobile" class="col-md-6 col-s-12">
    <img src="assets/images/J3DMLogo.png" class="img-responsive">
  </div>
  <div *ngIf="mobile" class="col-xs-12">
    <h3>Actions</h3>
    <ul>
      <li *ngIf="!userAuthenticated">
        <a routerLink="/auth">Login / Register</a>
      </li>
      <li>
        <a routerLink="/recipies">Recipies</a>
      </li>
      <li *ngIf="userAuthenticated">
        <a routerLink="/shopping-list" >Shopping List</a>
      </li>
      <li *ngIf="userAuthenticated && mobile">
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6 col-xs-12">
    <hr *ngIf="mobile">
    <p>
      Some description
    </p>
  </div>
</div>

